
dist/README-SDL.txt
objs/Sound.obj
objs/ShowSceneProgram.obj
objs/ShowSceneMode.obj
objs/ShowMeshesProgram.obj
objs/ShowMeshesMode.obj
objs/show-scene.obj
objs/show-meshes.obj
objs/server.obj
objs/Scene.obj
objs/PlayMode.obj
objs/PathFont.obj
objs/PathFont-font.obj
objs/Mode.obj
objs/Mesh.obj
objs/load_wav.obj
objs/load_save_png.obj
objs/load_opus.obj
objs/Load.obj
objs/LitColorTextureProgram.obj
objs/hex_dump.obj
objs/gl_compile_program.obj
objs/GL.obj
objs/DrawLines.obj
objs/data_path.obj
objs/Connection.obj
objs/ColorTextureProgram.obj
objs/ColorProgram.obj
objs/client.obj
dist/server.pdb
dist/server.ilk
dist/server.exe
dist/SDL2.dll
dist/client.pdb
dist/client.exe
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/15-666-Final-Game-Conquer/v16/ipch/AutoPCH/f74ecbf64f4d89db/CLIENT.ipch
.vs/15-666-Final-Game-Conquer/v16/ipch/AutoPCH/e7eaaf7b40b18d8d/PLAYMODE.ipch
.vs/15-666-Final-Game-Conquer/v16/ipch/AutoPCH/26e76d80953a0de7/SERVER.ipch
.vs/15-666-Final-Game-Conquer/v16/Browse.VC.opendb
.vs/15-666-Final-Game-Conquer/v16/Browse.VC.db-wal
.vs/15-666-Final-Game-Conquer/v16/Browse.VC.db-shm
.vs/15-666-Final-Game-Conquer/v16/Browse.VC.db
.vs/15-666-Final-Game-Conquer/v16/.suo
scenes/show-meshes.exe
scenes/show-meshes.ilk
scenes/show-meshes.pdb
scenes/show-scene.exe
scenes/show-scene.ilk
scenes/show-scene.pdb
